name: SQLFluff
on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      identifier:
        required: false
        type: string
        default: 'SQL Files'
      dialect:
        required: false
        type: string
        default: 'mariadb'
      required:
        type: boolean
        default: false

jobs:
  sqlfluff:
    runs-on: ubuntu-latest
    continue-on-error: ${{ !inputs.required }}
    name: "SQLFluff (${{ inputs.identifier }})"
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
            python-version: "3.11"

      - name: Install SQLFluff
        run: pip install sqlfluff

      - name: Lint SQL
        env:
          DIALECT: ${{ inputs.dialect }}
        run: sqlfluff lint --disable-progress-bar --dialect="$DIALECT" --format=github-annotation-native ${{ inputs.path }}
