name: Web migrate Contentful
on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        default: 'test'
        required: false
        type: string
      contentful_environment:
        description: 'The contentful environment to migrate to'
        default: ''
        required: false
        type: string
      contentful_space_id:
        description: 'The contentful space ID'
        required: true
        type: string
    secrets:
      amazon_role:
        description: The AWS role to assume to store state in S3
        required: true
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      contentful_management_api_token:
        description: The contentful management API token for migration access
        required: true

jobs:
  migrate_contentful:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    name: 'Contentful migration'
    env:
      ENVIRONMENT: ${{ inputs.environment }}
    strategy:
      matrix:
        node-version: ['20.x']
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Install dependencies
        run: yarn install --production=false --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_PAT}}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.amazon_role }}

      - name: Run migration step
        env:
          CONTENTFUL_ENVIRONMENT: ${{ inputs.contentful_environment != '' && inputs.contentful_environment || inputs.environment }}
          CONTENTFUL_SPACE: ${{ inputs.contentful_space_id }}
          CONTENTFUL_MANAGEMENT_API_TOKEN: ${{ secrets.contentful_management_api_token }}
          MIGRATIONS_STATE_FILE_STORAGE: s3
          MIGRATIONS_STATE_FILE_BUCKET: '${{ github.repository_owner }}-contentful-migrations'
          MIGRATIONS_STATE_FILE: migrated.json
        run: yarn migrate
