name: Build
on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        default: 'Test'
        required: false
        type: string
      cache_build:
        description: 'Cache the build files'
        default: false
        required: false
        type: boolean
      fast-runner:
        description: 'Use a faster runner'
        default: false
        required: false
        type: boolean
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      sentry_auth_token:
        description: The token to access Sentry
        required: true

jobs:
  build:
    runs-on: ${{ inputs.fast-runner && 'namespace-profile-web-16-core' || 'ubuntu-latest' }}
    name: 'Build (node ${{ matrix.node-version }})'
    env:
      ENVIRONMENT: ${{ inputs.environment }}
    strategy:
      matrix:
        node-version: ['18.x']
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Get version
        run: |
          version=$(git describe --always --abbrev=4 | sed -E 's/\-[a-z0-9]{5}//')
          echo "VERSION=$version" >> "$GITHUB_ENV"

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn

      - name: Restore nextjs cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Restore build directory
        if: inputs.cache_build == true
        id: cache-build-restore
        uses: actions/cache/restore@v4
        with:
          key: ${{ inputs.environment }}-${{ matrix.node-version }}-build
          path: out/

      - name: Install dependencies
        run: yarn install --production=false --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}

      - name: Build website
        env:
          GIT_COMMIT: ${{ github.sha }}
          SENTRY_AUTH_TOKEN: ${{ secrets.sentry_auth_token }}
        run: yarn build

      - name: Upload website
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.node-version }}
          path: out/
          retention-days: 1
          include-hidden-files: true

      - name: Save build
        id: cache-build-save
        uses: actions/cache/save@v4
        with:
          key: ${{ inputs.environment }}-${{ matrix.node-version }}-build
          path: out/
            
